[submodule "app/libs/jquery-nstslider"]
	path = app/libs/jquery-nstslider
	url = https://github.com/lokku/jquery-nstslider.git
	branch = origin/main
[submodule "app/libs/w3-css"]
	path = app/libs/w3-css
	url = https://github.com/vitorlans/w3-css.git
[submodule "app/libs/SortableJS"]
	path = app/libs/SortableJS
	url = https://github.com/SortableJS/Sortable.git
[submodule "app/libs/Coloris"]
	path = app/libs/Coloris
	url = https://github.com/mdbassit/Coloris.git
