#js-failed + form#options-form {
	display: none;
	display: block;
}

/* Base */
@media not screen and (width: 400px) {
	/* Excludes Edge */
	:root {
		min-width: 550px;
	}
}

#options-form {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}
	
:root {
	--rgh-red: #cf222e;
}

html::after {
	/* Add some extra scroll to the page to reduce section toggle jumps/scroll */
	content: '';
	display: block;
	height: 50vh;
}

p {
	margin-top: 0;
}

ul {
	padding-left: 0;
	list-style: none;
}

li[data-validation] {
	margin-bottom: 0.3em;
}

details {
	margin-bottom: 1em;
}

output {
	font-style: italic;
}

details[open] {
	--border-left: 4px;
	border-left: solid var(--border-left) #aaa4;
	padding-bottom: 1px;
}

summary {
	--summary-padding: 10px;
	background: #aaa1;
	list-style: none;
	padding: var(--summary-padding);
	cursor: pointer;
}

summary::-webkit-details-marker {
	display: none;
	/* Just for Safari. Chrome uses `list-style` */
}

summary:hover {
	background: #aaa4;
}

details[open] summary {
	margin-bottom: 10px;
	padding-left: calc(var(--summary-padding) - var(--border-left));
}

details[open]> :not(summary) {
	margin-left: 10px;
}

.section {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 2px dotted #aaa4;
	border-radius: 10px;
	padding: 5px 10px;
}

.section-header{
	font-weight: bold;
	margin-bottom: .1em;
}

.section-subheader{
	font-weight: bold;
	margin-bottom: .1em;
	color: #666666;
}

#skin-option {
	display: flex;
	flex-flow: column;
}
#skin-selection,
#skin-option--options {
	display: flex;
	flex-flow: row;
}
#skin-option--field,
#skin-option--preview {
	width: 50%;
}
#skin-option--editting {
	font-size: 120%;
	font-weight: bold;
	margin-left: 1em;
	color: #555;
	text-overflow: ellipsis;
}
.skin-color-field {
	display: flex;
	flex-flow: row;
	align-items: center;
}
.skin-detail .color-box {
	height: 1em;
	width: 1em;
	padding: .3em;
	border: 1px solid #000;
	margin-left: 1em;
	background: transparent;
}
.skin-detail .skin-color-field input[type="text"] {
	width: 100%;
}
#skin-preview {
	padding: 1em;
}
#skin-preview #subtitle-dummy div {
	padding: 10px 10px 2px 5px;
	font-size: 95%;
}
#skin-preview #subtitle-dummy #link,
#skin-preview #subtitle-dummy #link-visited  {
	cursor: pointer;
}

/* Toggle */
input[type="checkbox"].toggle {
	display: none;
}

label.toggle {
	position: relative;
	padding-left: 60px;
	cursor: pointer;
}

label.toggle::before, label.toggle::after {
	content: "";
	display: block;
	position: absolute;
	top: 50%;
	left: 0px;
	transform: translateY(-50%);
	border: 1.4px solid rgba(0, 0, 0, .3);
	border-radius: 50%;
	transition: .2s;
}

label.toggle::before {
	background-color: rgba(27, 142, 243, .1);
	border: 1.4px solid rgba(0, 0, 0, .3);
	border-radius: 12px;
	height: 20px;
	width: 40px;
	top: 50%;
	left: 5px;
}

label.toggle::after {
	background-color: #fff;
	border-radius: 50%;
	height: 23px;
	width: 23px;
	top: 50%;
	left: 0px;
}

input.toggle:checked+label.toggle::before {
	background-color: rgb(27, 142, 243);
}

input.toggle:checked+label.toggle::after {
	left: 26px;
}

/* select */
.dropdown {
    display: inline-flex;
    align-items: center;
    position: relative;
	margin-top: .1em;
	margin-bottom: .1em;
}

.dropdown::after {
    position: absolute;
    right: 15px;
    width: 10px;
    height: 7px;
    background-color: #535353;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
    content: '';
    pointer-events: none;
}

.dropdown select {
    appearance: none;
    height: 2.5em;
    padding: .4em calc(.8em + 30px) .4em .8em;
    border: 1px solid #d0d0d0;
    border-radius: 25px;
    background-color: #fff;
    color: #333333;
    font-size: 1em;
    cursor: pointer;
}

/* Text Field */
.textfield {
	display: flex;
	flex-flow: column;
	font-size: inherit;
}
.textfield label {
	font-size: 90%;
}
input[type="text"] {
	padding: .3em;
	padding-left: .5em;
	font-size: inherit;
	margin: .1em;
}

/* Button */
button {
    color: rgb(255, 255, 255);
    font-size: 14px;
    line-height: 1.7;
    display: inline-block;
    width: auto;
    cursor: pointer;
    text-align: center;
    background-color: rgb(27, 142, 243);
    appearance: none;
    transition: all 0.2s ease 0s;
    white-space: nowrap;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    border-radius: 25px;
    outline: 0px;
    padding: .3em 1em !important;
}
button:active, button:focus, button:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(51, 154, 244);
}
button:disabled {
    background-color: gray;
}

/* Header Icons */
.draggable_area_outer {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 5px;
	padding: 10px;
	border: 2px solid #aaa4;
	border-radius: 10px;
}
.draggable_area {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
	width: 110px;
	height: 100%;
	min-height: 110px;
}
.icon-element {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	border: 1px solid #aaa;
	margin: .2em;
	padding: .2em;
	width: 70px;
	height: 70px;
}
.icon-element i {
	font-size: 180%;
}
.icon-element .title {
	margin-top: .5em;
	font-size: 90%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}