/* Header */
.narou-tweaker #novel_header,
.narou-tweaker #novel_header_right {
	position: absolute;
	top: 0 !important;
	width: auto !important;
	height: auto !important;
	text-align: center !important;
	margin: 2em .3em;
	z-index: 10;
	background: none !important;

}
.narou-tweaker #novel_header {
	left: 0 !important;
}
.narou-tweaker #novel_header_right {
	right: 0 !important;
}

.narou-tweaker #novel_header ul,
.narou-tweaker #novel_header_right ul {
	display: flex;
	flex-flow: column;
	margin: 0 !important;
	margin-top: .3em !important;
	width: auto !important;
}

.narou-tweaker #novel_header ul li,
.narou-tweaker #novel_header_right ul li {
	font-size: 130% !important;
	min-height: 55px;
	width: 60px;
	padding: 0 !important;
	margin: 0 !important;
	background: none !important;
	text-indent: inherit !important;
}
.narou-tweaker #novel_header ul li a,
.narou-tweaker #novel_header ul li form,
.narou-tweaker #novel_header_right ul li a,
.narou-tweaker #novel_header_right ul li form {
	display: flex !important;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	width: 100%;
	font-size: inherit !important;
	padding: 0 !important;
	height: auto !important;
}

.narou-tweaker #novel_header ul li > *,
.narou-tweaker #novel_header_right ul li > * {
	border: none !important;
	background: none !important;
}
.narou-tweaker #novel_header ul li form input,
.narou-tweaker #novel_header_right ul li form input {
	border: none !important;
	padding: 0 !important;
}
.narou-tweaker #novel_header ul li a > span,
.narou-tweaker #novel_header ul li form input,
.narou-tweaker #novel_header_right ul li a > span,
.narou-tweaker #novel_header_right ul li form input {
	margin-top: .5em;
	text-align: center;
	font-size: 50%;
	font-weight: bold;
	white-space: nowrap;
	transition: color .2s;
	color: transparent !important;
}
.narou-tweaker #novel_header ul li a:hover,
.narou-tweaker #novel_header ul li form:hover input,
.narou-tweaker #novel_header_right ul li a:hover,
.narou-tweaker #novel_header_right ul li form:hover input {
	background: none !important;
}
.narou-tweaker #novel_header ul li a:hover > span,
.narou-tweaker #novel_header ul li form:hover input,
.narou-tweaker #novel_header_right ul li a:hover > span,
.narou-tweaker #novel_header_right ul li form:hover input {
	color: inherit !important;
	transition: color .2s;
	font-size: 50%;
	margin-top: .5em;
}

/* Header */
#novel_header.header-mode--absolute,
#novel_header_right.header-mode--absolute,
.header-mode--absolute #novelnavi_right,
.header-mode--absolute #novelnavi_right > * {
    position: absolute !important;
}
#novel_header.header-mode--scroll,
#novel_header_right.header-mode--scroll,
.header-mode--scroll #novelnavi_right, 
.header-mode--scroll #novelnavi_right > * {
    position: fixed !important;
}
#novel_header.header-mode--fixed,
#novel_header_right.header-mode--fixed,
.header-mode--fixed #novelnavi_right,
.header-mode--fixed #novelnavi_right > *{
    position: fixed !important;
}
#novel_header.header-mode--scroll,
#novel_header_right.header-mode--scroll{
    transition: .2s;
}
#novel_header.hide.header-mode--scroll{
    transform:translateY(-60px);
}
.narou-tweaker #novel_header.hide.header-mode--scroll{
    transform:translateX(-80px);
}
.narou-tweaker #novel_header_right.hide.header-mode--scroll{
    transform:translateX(80px);
}


/* Option Menu */
#novel-option-background {
	display: none;
    position: fixed;
    top: 0;
	width: 100vw;
	height: 100vh;
    z-index: 49;
}
#novel-option-background.show {
	display: block;
}
#novel-option {
    top: 0;
    right: calc(-300px - env(safe-area-inset-left) - 50px);
    height: 100%;
    position: fixed;
    width: calc(300px + env(safe-area-inset-left));
    background: #efefef;
    z-index: 50;
    filter: drop-shadow(0px 0px 1px rgba(0,0,0,.7));
    transition: .3s;
}
#novel-option.show {
    transform: translateX(calc(-300px - env(safe-area-inset-left) - 50px));
}
#novel-option--header {
    height: 70px;
    background: #ddd;
}

#novel-option--header ul {
	height: 100%;
	padding: 0;
	margin: 0;
	margin-left: constant(safe-area-inset-left);
	margin-left: env(safe-area-inset-left);
    padding-left: 20px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}
#novel-option--header ul li {
	list-style-type: none;
	padding: 0 .3em;
}
#novel-option--header ul li button {
	height: 100%;
	padding-top: 0;
	padding-bottom: 0;
	font-size: .9em;
    background: 0 0;
    border: none;
    -webkit-appearance: button;
    cursor: pointer;
}

#novel-option--header ul li button span {
    display: inline-block;
	height: 100%;
	line-height: 60px;
	border-radius: 0;
	border: none;
	border-top: 4px solid transparent;
	box-sizing: border-box;
	padding: 0 .5em;
}
#novel-option--header ul li.active button span {
	border-top-color: #222 !important;
}
#novel-option--header ul li button span:hover {
	border-top-color: var(--kasasagi-blue);
}
#novel-option--contents {
	padding: .5em;
}
.novel-option--content {
	display: none;
	padding: .5em
}
.novel-option--content-inner {
	margin-bottom: 2em;
}
.novel-option--content.active {
	display: block;
}
.novel-option-header {
	font-weight: bold;
    font-size: 140%;
    margin: .3em;
}
.novel-option-subheader {
	font-weight: bold;
    margin: .3em;
}
.novel-option--textfield {
	padding: .3em;
    font-size: inherit;
    margin: .1em;
}

/* Skin */
#novel-option--skin-description {
	margin-top: .5em;
	margin-left: .3em;
}
#novel-option--skin-description:before {
	content: "選択中";
	font-weight: bold;
	margin-right: .5em;
}

/* Font Family */
#novel-option--font-family {
	display: flex;
	flex-flow: row;
	justify-content: center;
	margin-bottom: 1em;
}
.novel-option--font-button {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}
.novel-option--font-button-box {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 60px;
	height: 60px;
	border: 1px solid #ddd;
	background: #fff;
	margin: .5em 1em;
	cursor: pointer;
}
.novel-option--font-button-box:hover {
	background: #fafafa;
}
.novel-option--font-button.active .novel-option--font-button-box{
	border: 1px solid var(--kasasagi-blue);
}
.novel-option--font-button-description {
	font-size: 90%;
}

/* Font Size / Line Height */
.novel-option--font-number-change-button {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #ddd;
	background: #fff;
	width: 30px;
	height: 30px;
	cursor: pointer;
}
.novel-option--font-number-change-button:hover{
	background: #fafafa;
}
#novel-option--font-size,
#novel-option--line-height {
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: center;
	margin-bottom: 1em;
}
#novel-option--font-size-input,
#novel-option--line-height-input {
	font-size: 110%;
	border: 1px solid #ddd;
	text-align: center;
	height: 30px;
	padding: 0;
}