
/* 小説ページ */
.narou-tweaker--custom-skin.narou-tweaker--novel-page .c-novel-attention {
	background-color: var(--color-custom-attention-bg); /* 警告ボックス */
	border-color: var(--color-custom-attention-border);
	color: var(--color-custom-attention-text);
}
.narou-tweaker--custom-skin.narou-tweaker--novel-page .c-novel-attention .c-novel-attention__warning {
    color: var(--color-custom-attention-text--danger); /* 警告ボックス（強調） */
}
.narou-tweaker--custom-skin.narou-tweaker--novel-page .p-novel__text--preface,
.narou-tweaker--custom-skin.narou-tweaker--novel-page .p-novel__text--afterword {
	border-color: var( --color-custom-novel-border); /* まえがき・あとがきの区切り線 */
}
.narou-tweaker--custom-skin.narou-tweaker--novel-page .p-novel__number {
	color: var(--color-custom-novel-number-text); /* エピソード数 */
}