
/* Novel Page*/
.narou-tweaker .novel-titles {
    line-height: normal;
	word-break: break-word;
	text-align: left;
}
.narou-tweaker .novel-titles .novel-title {
    line-height: normal;
	font-weight: bold;
	word-break: break-word;
	word-break: auto-phrase;
}
.narou-tweaker .novel-titles .novel-author {
	margin-top: .5em;
	font-size: 90%;
}
.narou-tweaker .novel-titles#ep-0,
.narou-tweaker .novel-titles#ep-1 {
	text-align: center;
	margin-top: 4em;
	margin-bottom: 4em;
}
.narou-tweaker .novel-titles#ep-0 .novel-title,
.narou-tweaker .novel-titles#ep-1 .novel-title {
	font-size: 3em;
}
.narou-tweaker .novel-titles#ep-0 .novel-author,
.narou-tweaker .novel-titles#ep-1 .novel-author {
	text-align: center;
	font-size: 2em;
	margin-top: .5em;
}
.narou-tweaker .novel-chapter {
	text-align: center;
	font-size: 90%;
}
.p-novel__body p.correction-original{
	display: none;
}

.narou-tweaker .c-announce-box {
	background-color: var(--color-custom-body-bg);
	color: var(--color-custom-text);
}


.narou-tweaker .novel-titles a,
.narou-tweaker #novel_vertical_items .novel-titles a /* 縦書き */ {
    color: inherit;
}
.narou-tweaker .novel-titles .novel-title,
.narou-tweaker .novel-titles .novel-author,
.narou-tweaker .novel-chapter {
    color: var(--color-custom-text--sub);
}
.narou-tweaker .novel-titles#ep-0 .novel-title,
.narou-tweaker .novel-titles#ep-1 .novel-title {
    color: var(--color-custom-text);
}



/* Novelcom Page */
body.narou-tweaker--novelcom-page {
	background: var(--color-custom-body-bg);
	color: var(--color-text);
}

/* 作品情報ページ */
.narou-tweaker--novelcom-page #contents_main {
	color: var(--color-custom-text);
	background-color: var(--color-custom-body-bg);
	background-image: none;
}
.narou-tweaker--novelcom-page #contents_main #novel_attention {
	background-color: var(--color-bg-neverchange);
	border: 5px solid var(--color-ui-border);
	color: var(--color-text);
}
.narou-tweaker--novelcom-page #contents_main #novel_attention .attention {
    color: var(--color-text--danger)
}
.narou-tweaker--novelcom-page #contents_main a:link {
	color: var(--color-custom-link);
}
.narou-tweaker--novelcom-page #contents_main a:visited {
	color: var(--color-custom-link-visited);
}
.narou-tweaker--novelcom-page #contents_main a:hover {
	color: var(--color-custom-link-hover);
}

.narou-tweaker--novelcom-page #noveltable1 th,
.narou-tweaker--novelcom-page #noveltable2 th,
.narou-tweaker--novelcom-page #onazi .th {
	color: var(--color-custom-novelinfo-datatable-header-text);
	background: var(--color-custom-novelinfo-datatable-header-bg);
}
.narou-tweaker--novelcom-page #noveltable1 th, .narou-tweaker--novelcom-page #noveltable2 th,
.narou-tweaker--novelcom-page #noveltable1 td, .narou-tweaker--novelcom-page #noveltable2 td{
	border-color: var(--color-custom-novelinfo-datatable-border);
}
.narou-tweaker--novelcom-page h1 {
	border-color: var(--color-custom-novelinfo-header-border);
}
.narou-tweaker--novelcom-page #onazi {
	border-color: var(--color-custom-novelinfo-table-border);
}