/* カスタムレイアウト */
/* 標準設定 */
body.customlayout1 {background-color:#fff; background-image:none;}
#novel_color.customlayout1 {color:#444;}
#novel_contents.customlayout1 div.novelrankingtag,
#novel_contents.customlayout1 .customlayout-color {color:#444;}
#novel_contents.customlayout1 a:link,
#novel_contents.customlayout1 .customlayout-color a:link {color:#03c;}
#novel_contents.customlayout1 a:visited,
#novel_contents.customlayout1 .customlayout-color a:visited {color:#857;}
#novel_contents.customlayout1 a:hover,
#novel_contents.customlayout1 .customlayout-color a:hover {color:#393;}
.novel_sublist2.underline.customlayout1 {border-bottom:1px solid #444;}
dl.novel_sublist2.customlayout1 {border-color:#fff;}
dl.novel_sublist2.customlayout1:hover {border-color:#9df;}

/* ブラックモード1 */
body.customlayout2 {background-color:#000; background-image:none;}
#novel_color.customlayout2 {color:#fff;}
#novel_contents.customlayout2 div.novelrankingtag,
#novel_contents.customlayout2 .customlayout-color {color:#fff;}
#novel_contents.customlayout2 a:link,
#novel_contents.customlayout2 .customlayout-color a:link {color:#fcf;}
#novel_contents.customlayout2 a:visited,
#novel_contents.customlayout2 .customlayout-color a:visited {color:#857;}
#novel_contents.customlayout2 a:hover,
#novel_contents.customlayout2 .customlayout-color a:hover {color:#f03;}
.novel_sublist2.underline.customlayout2 {border-bottom:1px solid #fff;}
dl.novel_sublist2.customlayout2 {border-color:#000;}
dl.novel_sublist2.customlayout2:hover {border-color:#f03;}

/* ブラックモード2 */
body.customlayout3 {background-color:#000; background-image:none;}
#novel_color.customlayout3 {color:#ccc;}
#novel_contents.customlayout3 div.novelrankingtag,
#novel_contents.customlayout3 .customlayout-color {color:#ccc;}
#novel_contents.customlayout3 a:link,
#novel_contents.customlayout3 .customlayout-color a:link {color:#ff9;}
#novel_contents.customlayout3 a:visited,
#novel_contents.customlayout3 .customlayout-color a:visited {color:#857;}
#novel_contents.customlayout3 a:hover,
#novel_contents.customlayout3 .customlayout-color a:hover {color:#cf0;}
.novel_sublist2.underline.customlayout3 {border-bottom:1px solid #ccc;}
dl.novel_sublist2.customlayout3 {border-color:#000;}
dl.novel_sublist2.customlayout3:hover {border-color:#cf0;}

/* 通常1 */
body.customlayout4 {background-color:#ccf; background-image:none;}
#novel_color.customlayout4 {color:#444;}
#novel_contents.customlayout4 div.novelrankingtag,
#novel_contents.customlayout4 .customlayout-color {color:#444;}
#novel_contents.customlayout4 a:link,
#novel_contents.customlayout4 .customlayout-color a:link {color:#00f;}
#novel_contents.customlayout4 a:visited,
#novel_contents.customlayout4 .customlayout-color a:visited {color:#009;}
#novel_contents.customlayout4 a:hover,
#novel_contents.customlayout4 .customlayout-color a:hover {color:#00f;}
.novel_sublist2.underline.customlayout4 {border-bottom:1px solid #444;}
dl.novel_sublist2.customlayout4 {border-color:#ccf;}
dl.novel_sublist2.customlayout4:hover {border-color:#00f;}

/* 通常2 */
body.customlayout5 {background-color:#cfc; background-image:none;}
#novel_color.customlayout5 {color:#444;}
#novel_contents.customlayout5 div.novelrankingtag,
#novel_contents.customlayout5 .customlayout-color {color:#444;}
#novel_contents.customlayout5 a:link,
#novel_contents.customlayout5 .customlayout-color a:link {color:#00f;}
#novel_contents.customlayout5 a:visited,
#novel_contents.customlayout5 .customlayout-color a:visited {color:#009;}
#novel_contents.customlayout5 a:hover,
#novel_contents.customlayout5 .customlayout-color a:hover {color:#00f;}
.novel_sublist2.underline.customlayout5 {border-bottom:1px solid #444;}
dl.novel_sublist2.customlayout5 {border-color:#cfc;}
dl.novel_sublist2.customlayout5:hover {border-color:#00f;}

/* シンプル */
body.customlayout6 {background-color:#fafafa; background-image:none;}
#novel_color.customlayout6 {color:#444;}
#novel_contents.customlayout6 div.novelrankingtag,
#novel_contents.customlayout6 .customlayout-color {color:#444;}
#novel_contents.customlayout6 a:link,
#novel_contents.customlayout6 .customlayout-color a:link {color:#00f;}
#novel_contents.customlayout6 a:visited,
#novel_contents.customlayout6 .customlayout-color a:visited {color:#009;}
#novel_contents.customlayout6 a:hover,
#novel_contents.customlayout6 .customlayout-color a:hover {color:#393;}
.novel_sublist2.underline.customlayout6 {border-bottom:1px solid #444;}
dl.novel_sublist2.customlayout6 {border-color:#fafafa;}
dl.novel_sublist2.customlayout6:hover {border-color:#393;}

/* おすすめ設定 */
body.customlayout7 {background-color:#edf7ff; background-image:none;}
#novel_color.customlayout7 {color:#000;}
#novel_contents.customlayout7 div.novelrankingtag,
#novel_contents.customlayout7 .customlayout-color {color:#000;}
#novel_contents.customlayout7 a:link,
#novel_contents.customlayout7 .customlayout-color a:link {color:#00f;}
#novel_contents.customlayout7 a:visited,
#novel_contents.customlayout7 .customlayout-color a:visited {color:#009;}
#novel_contents.customlayout7 a:hover,
#novel_contents.customlayout7 .customlayout-color a:hover {color:#00f;}
.novel_sublist2.underline.customlayout7 {border-bottom:1px solid #444;}
dl.novel_sublist2.customlayout7 {border-color:#edf7ff;}
dl.novel_sublist2.customlayout7:hover {border-color:#00f;}
