#js-failed + form#options-form {
	display: none;
	display: block;
}

/* Base */
:root {
    max-width: 450px;
	--rgh-red: #cf222e;
}

@media not screen and (width: 400px) {
	/* Excludes Edge */
	:root {
		max-width: none;
		min-width: 550px;
	}
}

#options-form {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

p {
	margin-top: 0;
}

ul {
	padding-left: 0;
	list-style: none;
}

li[data-validation] {
	margin-bottom: 0.3em;
}

details {
	margin-bottom: 1em;
}

output {
	font-style: italic;
}

details[open] {
	--border-left: 4px;
	border-left: solid var(--border-left) var(--kasasagi-blue);
	padding-bottom: 1px;
}

summary {
	--summary-padding: 10px;
	background: var(--kasasagi-blue);
	list-style: none;
	padding: var(--summary-padding);
	cursor: pointer;
	color: #fff;
}

summary::-webkit-details-marker {
	display: none;
	/* Just for Safari. Chrome uses `list-style` */
}

summary:hover {
	background: var(--kasasagi-blue);
	color: #ddd;
}

details[open] summary {
	margin-bottom: 10px;
	padding-left: calc(var(--summary-padding) - var(--border-left));
}

details > details summary {
	background: #aaa1;
	color: #000;
	padding-top: 5px;
	padding-bottom: 5px;
}

details > details summary:hover {
	background: #aaa4;
	color: #000;
}

details > details[open] {
	border-left-color: #aaa4;
	border-left-width: 10px;
}

.contents-option-head {
	margin-right: 10px;
	min-width: unset;
}


/* Draggable (Header) */
.draggable_area_outer {
	margin: 2px;
	padding: 5px;
}
.draggable_area {
	max-width: 110px;
}
.icon-element {
	margin: 0;
	padding: 2px 3px ;
}


/* Replace Patterns (Correction) */
#correction-replace--patterns {
	min-width: 350px;
	max-width: 350px;
}
.correction-replace--move-buttons {
	margin: 0;
}
.correction-replace--active-button,
.correction-replace--fields span {
	margin-left: 3px;
    margin-right: 3px;
}
.correction-replace--icons,
.correction-replace--fields span {
	font-size: 13px;
}
.correction-replace--fields input[type="text"] {
	width: 120px;
}